body {
    margin: 60px auto;
    width: 70%;
    color: #d5d5d5;
    background-size:1440px 1000px;
    background-image: url("https://i.imgur.com/lnVWsE4.jpg");
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    color: white;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #d5d5d5;
}

    .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: #e2e2e2;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

h5 {
font-size: 0.5em;
    color: #ff0000;
}
